@import "../root.css";

body,
html {
  margin: 0;
  padding: 0;
  overflow: auto;
  box-sizing: border-box;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 2.5em;
  background-color: var(--mediumGreen);
  padding-top: 1em;
  padding-bottom: 0.5em;
  animation: fadeIn 1s ease-in-out;
}

.navbar_first {
  width: 8rem;
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--mediumGreen);
  padding-top: 10em;
  padding-left: 2.2em;
  opacity: 1;
  transition: var(--transitionOpacity);
  z-index: 1;
}

.navbar_second {
  display: flex;
  align-items: center;
  position: absolute;
  right: 0;
  padding-right: 0.5em;
}

.navbar_burger {
  z-index: 2;
  background: none;
  border: none;
  cursor: pointer;
  font-size: 2em;
  color: var(--darkGreen);
  position: absolute;
  padding-left: 2em;
}

.navbar_burger:hover,
.header-icon:hover,
.navbar_link:hover {
  background-color: var(--hoverBG);
  color: var(--hoverColor);
  transition: var(--transitionBG), var(--transitionColor);
}

ul {
  list-style: none;
  padding: 0;
}

a {
  text-decoration: none;
}

header button {
  background-color: var(--mediumGreen);
  border: none;
}

.navbar_link {
  color: var(--darkGreen);
  font-family: var(--fontRegular);
  text-transform: uppercase;
}

.header-icon {
  display: inline-block;
  font-size: 1.9em;
  margin-left: 0.1em;
  color: var(--darkGreen);
  transition: color 0.3s ease-in-out;
}

.text,
.input {
  display: none;
}

header label {
  display: flex;
}

.input-active {
  width: 10em;
  margin-left: 5.5em;
}

.h-logo {
  width: 4em;
  margin-bottom: 1em;
}

.img-profil {
  width: 2em;
  height: 2em;
  border-radius: 50%;
}

@keyframes fadeIn {
  from {
    opacity: 0;
    transform: translateY(10px);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}
